#checkMarkOne{
  opacity: 0;
}

#checkMarkTwo{
  opacity: 0;
}

#finishedCheckMark{
  opacity: 0;
}

#checkMarkThree{
  opacity: 0;
}

path {
  stroke-dasharray: 99.47578430175781;
  stroke-dashoffset: -99.47578430175781;
  fill: transparent;
}

.animate {
  animation: 1s ease forwards draw;
  opacity:0;
}

@keyframes draw {
  0% {
    opacity: 1;
    stroke-dashoffset: -99.47578430175781;
    fill: transparent;
    transform: translateY(0);
  }
  
  35% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  
  60% {
    fill: #FFFFFF;
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    fill: #FFFFFF;
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

